
@using A2B_App.Shared.Sox

@if (listUniqueNotes != null && listUniqueNotes.Count > 0)
{

    <h3>Notes</h3>

    @foreach (var uniqueNotes in listUniqueNotes.OrderBy(x =>x.Notes))
    {
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <input type="text" class="form-control has-text-centered" id="@(uniqueNotes.Notes)" maxlength="3" value="@(uniqueNotes.Notes)" readonly>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <textarea rows="4" class="form-control" id="@($"desc{uniqueNotes.Notes}")" @bind="@(uniqueNotes.Description)"></textarea>
                </div>
            </div>
        </div>
    }

}


@code {

    [Parameter] public List<NotesItem> listUniqueNotes { get; set; }
    //[Parameter] public GeneralNote generalNote { get; set; }
    //[Parameter] public ListIPENote listIPENote { get; set; }

}
