@page "/btainvoice"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject Task<ClientSettings> _getSettings
@attribute [Authorize]

<h1>BTA/Invoice</h1>

<p>Fill in information and click generate data</p>


@code {
  

}
