
<div class="container">
    <div id="welcome-page">
        <div class="card">
            <div class="card-body">
                <h1>A2B Web App</h1>
                <p>A tool that helps you manage your Business.</p>
                <a href="authentication/login" id="login-to-page" class="btn btn-primary">Login to continue</a>
            </div>
        </div>
    </div>
</div>


@code {

}
